.usestate{
    display: grid;
    grid-column: span 12;
}
.btn1{
    grid-column-start: 3;
    grid-column-end: 4;
    height: 5em;
}
.btn2{
    grid-column-start: 3;
    grid-column-end: 4;
    height: 5em;
}
.number{
    grid-column-start: 3;
    grid-column-end: 6; 
    margin-left: 16%;   
}